.vs/
.vscode/
.idea/

bin/
obj/
artifacts/
TestResults/
coverage/

*.user
*.suo
*.nupkg
*.snupkg

react/brightertools-messaging-react/node_modules/
react/brightertools-messaging-react/dist/
react/brightertools-messaging-react/*.tgz
